:root {
    --light-red:hsl(0, 100%, 67%);
    --Orangey-yellow:hsl(39, 100%, 56%);
    --Green-teal:hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.card-results {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));;
    height: 330px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.your-result h2 {
    text-align: center;
    color: var(--Light-lavender);
    padding: 1.15rem 0rem;
}

.great h2 {
    color: var(--White);
    text-align: center;
    font-size: 20px;
    padding-top: 1.15rem;
    padding-bottom: .55rem;
}

.result-circle {
    width: 125px;
    height: 125px;
    text-align: center;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.center-dat-circle {
    display: flex;
    justify-content: center;
}

.score {
    font-size: 50px;
    color: var(--White);
    font-weight: 800;
}

.result-circle p {
    color: var(--Light-lavender);
}

.result-text {
    padding: 0 1.5rem;
    text-align: center;
    color: var(--Light-lavender);
    font-size: 12px;
}

.summary {
    width: 85%;
    height: 200px;
    margin: 0 auto;
}

.summary-head h2 {
    padding: 1.15rem 0rem;
}

.reaction-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 100%, 67%, .1);
    height: 55px;
    border-radius: 10px;
}

.reaction {
    display: flex;
    padding: .55rem;
}

.reaction p {
    color: var(--light-red);
    padding-left:.35rem;
}

.score-flex {
    display: flex;
    padding-right:1rem;
}

.score-summary {
    color: var(--Light-lavender);
}

.memory-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(39, 100%, 56%, .1);
    height: 55px;
    border-radius: 10px;
}

.memory {
    display: flex;
    padding: .55rem;
}

.memory p {
    color: var(--Orangey-yellow);
    padding-left:.35rem;
}

.verbal-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(166, 100%, 37%, .1);
    height: 55px;
    border-radius: 10px;
}

.verbal {
    display: flex;
    padding: .55rem;
}

.verbal p {
    display: flex;
    padding: .55rem;
    color: var(--Green-teal);
}

.visual-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(166, 100%, 37%, .1);
    height: 55px;
    border-radius: 10px;
}