:root {
    --light-red:hsl(0, 100%, 67%);
    --Orangey-yellow:hsl(39, 100%, 56%);
    --Green-teal:hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.card-results {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));;
    height: 300px;
}

.your-result h2 {
    text-align: center;
    color: var(--Light-lavender);
    padding: 1.15rem 0rem;
}

.great h2 {
    color: var(--White);
    text-align: center;
    padding: 1.15rem 0rem;
}

.result-circle {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-dat-circle {
    display: flex;
    justify-content: center;
}